# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
ENV/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/

# Migrations (оставляем init, исключаем все миграции)
*/migrations/*
!*/migrations/__init__.py

# Static files
staticfiles/
static/

# Pytest / Coverage
.coverage
htmlcov/
.pytest_cache/
.tox/
.cache/
nosetests.xml
coverage.xml

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Other
*.env
.env.*


cert.crt
cert.key