{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<h1>Вход</h1>
{% if form.errors %}
    <p>Ваш логин или пароль некоректны. Пожалуйста попробуйте позже.</p>
{% else %}
    <p>Пожалуйста, для входа в систему воспользуйтесь формой ниже.</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="Войти"></p>
    </form>
    <div id="social">
        <ul>
            <li class="google">
                <a href="{% url "social:begin" "google-oauth2" %}">
                    Sign In with Google
                </a>
            </li>
        </ul>
    </div>
    <p>
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </p>
    <p>
        Если у Вас нет аккаунта, 
        то регистрация 
        <a href="{% url 'register' %}">здесь</a>
    </p>
</div>
{% endblock %}