{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<h1>Вход</h1>
<p>Пожалуйста воспользуйтесь формой ниже, чтобы войти в систему</p>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Войти"></p>
    <div id="social">
        <ul>
            <li class="google">
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                    Sign In with Google
                </a>
            </li>
        </ul>
    </div>
</form>
{% endblock %}